* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img {
    width: 100%;
}

nav {
    text-align: center;
    background-color: aqua;
    font-size:1.5rem;
}

main {
    margin-left: 50px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background-color: orange;
    color: green;
}


.col img{
    width: 100%;
    opacity: 0.8;
    
}
.col {
    width:30%;
    margin: 20px 5px;
    box-shadow: black;
    display: inline-block;
}
